<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>카드한도조회</h1>
    <p>고객주민번호입력</p>
    <form method="POST">
        <input type="text", name="get_my_card_limit_by_user_SSN">
        <button type="submit">search</button>
    </form>

    <h1>카드한도</h1>
    <label>{{card_limit_user}} {{card_limit}}
</body>
</html>