<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>banking database</h1>
  <a href=  "http://127.0.0.1:5000/user"> user </a><br>
  <a href=  "http://127.0.0.1:5000/card"> card </a><br>
  <a href=  "http://127.0.0.1:5000/account"> account </a><br>
  <a href=  "http://127.0.0.1:5000/account_record"> account_record </a><br>
</body>
</html>